/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ysabeau SC', sans-serif;
    
}

.menu{
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}

.header__logo{
    background: #4567bd;/*#2797B0*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}

.saludito{
    color: #fff;
    margin-right: 2rem;
    font-size: 2rem;
    font-family: 'Ysabeau SC', sans-serif;
}

.saludito span{
    font-size: 1.5rem;
}

.header__logo--img{
    width:25rem;
    height: 6rem;
    margin-left: 2rem;
    transition: all 0.5s;
}

.header__logo--img:hover{
    transform: scale(1.2);
}


.menu__container{
    font-family: 'Ysabeau SC', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;


}

.menu__logo{
    text-shadow: #0042ff 0.1em 0.1em 0.2em;
    font-size: 2.5rem;
}

.menu__links{
    height: 100%;
    margin-bottom: 0;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}

.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside{
    padding: 10px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

.pie{
   
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ysabeau SC', sans-serif;
    text-shadow: #0042ff 0.1em 0.1em 0.2em;

}

.pie h3{

    font-size: larger;
}

@media (max-width:800px){


    .header__logo{
    display: flex;
    align-items: center;
    height: 4rem;
}
    .header__logo--img{
        width:12rem;
        height: 3.5rem;
        margin-left: 1rem;
    }
    header{
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .menu__logo{
        
        font-size: 1.9rem;
    }

    .saludito{
        color: #fff;
        margin-right: 1rem;
        font-size: 1rem;
        font-family: 'Ysabeau SC', sans-serif;
        display: flex;
        text-align: center;
        align-items: center;
        gap: 7px;
    }
    
    .saludito span{
        font-size: .9rem;
    }

    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        z-index: 1;
        transform: unset;
        width: 75%;
        display: grid;
        justify-content: center;
        align-items: center;
        top: 8.2rem;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}
