
/*Contenedor del botón de Volver*/
.botones__nuevos {
	height: 2rem;/*rem y px*/
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	width: 100%;
	height: 100%;
}

/*Estilos del boton de volver*/
.boton3{
	font-family: 'Ysabeau SC', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	background-color: #000;
	border-radius: 1rem; 
	width: 7rem;
	height: 3.3rem;
	margin-left: 11rem;
	border:2px solid #3f51b5;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

.boton3:hover{
	box-shadow: 11px 10px 12px 2px rgba(50,48,161,0.75);
}

/*Aqui se le dan estilos al contenedor donde se va a posicionar el formulario*/
.content{
	
	font-family: 'Ysabeau SC', sans-serif;
	padding: 1.5em;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 3.5rem;
}

/*Titulo*/
.brand{

	text-align: center;
	font-size: 3rem;
	padding-bottom: 2rem;
}

/*Emogi*/
.brand span{
	color: #4567bd;
	font-size: 25px;
}

/*Formulario parte de la posicion de los dos contenedores*/
.alta-wrapper{
	display: grid;
	grid-template-columns: 3fr 1fr;
	color: #000;
	box-shadow: 0px 0px 50px 5px rgba(23,88,214,0.83);
	border-radius: 0;

}

/*Se agregan estilos adentro del formulario blanco*/

.alta-wrapper > *{
	transition: margin-right 3s, color 1s;
	padding: 2rem;
}
 
/*.alta-form{
background: rgb(10,87,140);
background: linear-gradient(0deg, rgba(94,112,148,1) 0%, rgba(69,103,189,1) 100%);
}*/

/*División para algunos campos dentro del formulario*/
.alta-form form{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

/*Aqui solo se aplica a los que contengan esa clase de .block*/
.alta-form form .block{
	grid-column: 1/3;
	
}

/*Estilos a los campos seleccionados*/
.alta-form form button,
.alta-form form input,
.alta-form form select,
.alta-form form textarea{
	width: 100%;
	padding: 0.7rem;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	outline: 0;
	transition: all 0.3s ease;
}

.alta-form form button{
	background: #000;
	border: 0;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1rem;
	color: #fff;
	border-radius: 2rem 1rem;
	/*border: 3px solid #0fa0f5;*/
	transition: all 0.5s ease 0s;

}

.alta-form form button:hover,
.alta-form form button:focus{
	background: linear-gradient(90deg, rgba(69,103,189,1) 0%, rgba(48,124,215,1) 42%, rgba(115,197,214,1) 100%);
	outline: 0;
	box-shadow: 11px 10px 12px 2px rgba(50,48,161,0.75);
}

/*Empieza el footer en esta parte*/
.alta-info--principal{
	background: linear-gradient(60deg,rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../img/antena.jpg");
	padding: 3rem;
	border-radius: 2rem;
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/*box-shadow: 11px 10px 12px 2px rgba(50,48,161,0.75);*/
    margin: 3rem -2rem 3rem 0rem;
   position: relative;
    animation: movimiento 8s infinite linear alternate;
}

@keyframes movimiento{
	from{
		background-position: bottom left;
		}to{
		background-position: top right;
		}
}

/*Informacion del footer*/
.alta-info{
	height: 100%;
	border-radius: 2rem;
	}

.alta-info h4,
.alta-info ul,
.alta-info p{
	text-shadow: 4px 1px 4px rgba(255,255,255,0.6);
	color: #fff;
	padding: 1rem;
	text-align: center;
	font-weight: bold;
}

.imagen{
	width: 100%;
	height: 16rem;
}

.imagenes__totales{
	list-style: none;
}

.imagenes{
	padding: .3rem;
}
/*Clase del boton Usuario corresponsable*/
.corresponsable{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
/*Separacion de contenedores */
.div{
	width: 85%;
	margin-left: 2.5rem;
	margin-top: 2rem;
}

/*Boton de guardar*/
.div_personal{
	width: 92.5%;
	margin-left: 2.5rem;
	margin-top: 2rem;
}

.boton__guardar{
	width: 60%;
	margin: 22px auto 0 auto;

}

/*Boton de + en Usuario Corresponsable*/
.div_btn{
	width: 20% !important;
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

}

.upload_file{
	background: #000 !important;
    border-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2rem 1rem;
    /* border: 3px solid #0fa0f5; */
    transition: all 0.5s ease 0s;
}

.upload_file:hover{
	background: linear-gradient(90deg, rgba(69,103,189,1) 0%, rgba(48,124,215,1) 42%, rgba(115,197,214,1) 100%) !important;
	outline: none;
	box-shadow: 11px 10px 12px 2px rgba(50,48,161,0.75);
}


.contenedor-azul{
	margin-top: 5px;
	background: blue;
	display: flex;
	flex-direction: column;

}

#nombreList{
	border-bottom: 1px solid #fff;
	
}

/*Modo responsivo Celular*/

/*Contenedor del botón de Volver*/
@media(max-width: 768px){
	.botones__nuevos{
	height: 2rem;/*rem y px*/
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	width: 100%;
	height: 100%;
}

	/*Estilos del boton de volver*/
	.boton3{
		margin: 1rem;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;

	}


	/*Medidas del contenedor donde se encuentra el formulario pequeño*/
	.content{
	font-family: 'Ysabeau SC', sans-serif;
	padding: 1.5em;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	}	
}
