body{
	min-height: 100vh;
	background-image: linear-gradient(60deg,rgba(0,0,0,.7),rgba(0,0,0,.7)), url("../img/antena.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	background-attachment: fixed;
	background-size: cover;
	/*border: 10px solid yellow;*/
	font-family: 'Ysabeau SC', sans-serif;
}

@media(min-width: 768px){
	body{
	margin: 0;
	padding: 0;
	background: linear-gradient(60deg,rgba(0,0,0,.7),rgba(0,0,0,.7)),url("../img/antena.jpg");
	background-repeat: no-repeat; 
	width: 100%;
	height: 100vh;
	color: #cccccc;
	background-size: cover;
	background-position: center;
	font-family: 'Ysabeau SC', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center; 
	box-sizing: border-box;
	}
}
.contenedor1{
	max-width: 100%;
	max-height: 100%;
	
}
.login-container{
	background: linear-gradient(60deg,rgba(0,0,0,.2),rgba(0,0,2,.2)), url("../img/antena.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	border-radius: 5rem;
	margin: 0 auto;
	justify-content: center;
	max-width: 90%;
	min-height: 90%;
}


@media(min-width: 768px){
	.login-container{
	background: linear-gradient(60deg,rgba(0,0,0,.2),rgba(0,0,2,.2)), url("../img/antena.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5rem 15rem;
	height: 30rem;
	width: 70%;
	margin: auto;
	}
}

.contenedor{
	
}

@media(min-width: 768px){
	.contenedor{
		/*background: blue;*/
		width: 90%;
		height: 26rem;
	
		/*Posicionamiento contenedores saludo y formulario */
		display: flex;
		justify-content: center;
		gap: 5rem;
	}
}

.saludo{
	background: transparent !important;
	position: relative;
	top: -2rem;
}

@media(min-width: 768px){
	.saludo{
		/*background: yellow;*/
		width: 40%;
		height: 8rem;
		margin-top: 2rem;
	}
}

.formulario{
	/*border: 5px solid green;*/
	background: #053160c2;
	box-shadow: 0 0 20px #0088c7;
	border-radius: 1rem;
	margin: 0 auto;

	max-width: 90%;
	height: 21rem;
	margin-top: -3rem;
}

@media (min-width:768px) {
	.formulario{
		background: #15336f66;
		box-shadow: 0 0 20px #0088c7;
		border-radius: 2rem 5rem;
		width: 40%;
		height: 23rem;
		margin-top: 1rem;
		box-sizing: border-box;
		padding: 86px 28px;
	}
}
.formulario .logo{
	background: #ffffffbf;
	position: relative;
	display: flex;
	width: 100%;
	height: 85px;
	top: -122px;
	align-items: center;
	text-align: right;
	border-radius: 3rem;

}

@media(max-width: 768px){
	.formulario .logo{
		background: #ffffffd9;
		position: relative;
		margin: auto;
		top: -1rem;
		width: 90%;
	}
}

.formulario h2{
	position: relative;
	margin: 0;
	padding: 0 0 6px;
	text-align: center;
	top: -5rem;
	font-size: 45px;
	-webkit-text-stroke: .25px #0bf9e6;
}

@media(max-width: 768px){
	.formulario h2{
		position: static;

	}
}


h2{
	color: #fff;
	text-shadow: 0 0 30px #003dfff2;

}

.formulario input{
	width: 100%;
	margin-bottom: 20px;
}

.formulario input[type="text"],
.formulario input[type="password"]{
		text-shadow: 0 0 30px #038;
		position: relative;
		top: -6rem;
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		height: 15px;
		color: #fff;
		font-size: 17px;
		width: 88%;
		padding: 1rem;
		margin-left: 2rem;
}


@media(max-width: 768px){
	.formulario input[type="text"],
	.formulario input[type="password"]{
		text-shadow: 0 0 30px #038;
		position: relative;
		top: -1rem;
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		color:#fff;
		max-width: 78%;
		margin-left: 3em;
		padding: 3px 13px;
		font-size: 17px;
	}
}

.formulario input[type="submit"]{
	position: relative;
	top: -6rem;
	border: none;
	outline: none;
	height: 36px;
	background: #0a6dc782;
	color: #fff;
	font-size: 20px;
	border-radius: 9px;

}

@media(max-width: 768px){
	.formulario input[type="submit"]{
		/*background: orange;*/
		position: static;
		/*top: 76%;*/
		padding:0rem;
		/*bottom: 0;
		right: 15%;*/
		max-width: 95%;
		min-height: 6%;
		margin-left: 2%;

	}
}

.fa-solid{
	position: static;
	/*top: -6rem;*/
	margin-left: 1rem;
}

@media(min-width: 768px){
	.fa-solid{
		position: relative;
		top: -4rem;
		margin-left: auto;
	}
}
@media(max-width: ){
	.fa-solid{

	}
}


h1{
	position: relative;
	font-weight: bold;
	color: #ffffff;
	text-align: -webkit-center;
}

@media(min-width: 768px){
	h1{
		margin: 0;
		padding: 5%;
		font-size: 45px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 2px;
    	color: white;
    	transition: all 500ms;
    	text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
	}
}

@media(min-width: 768px) {
	h1:hover{
		font-size: 48px;
		cursor: pointer;
		text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;


	}
}

p {	
	font-size: 20px;
    color: white;
    position: relative;
    top: 1rem;
    text-align: center;
}

.iconos{
	margin: 0;
	padding-top: 0;
	position: relative;
	display: flex;
	gap: 4rem ;
	top: 2rem;
	align-items: center;
	margin-left: 4.5rem;	

}

@media(max-width: 768px){
	.iconos{
		/*background: violet;*/
		margin: auto;
		display: flex;
		justify-content: space-evenly;
		position: relative;
		max-width: 100%;
		height: 3rem;
		color: white;
		top: 26rem;
	}
}

.facebook{
	max-width: 4rem;
	transition: ease-out .5s;
}
.facebook:hover{
	cursor: pointer;
	max-width: 5rem;
}

@media(max-width: 768px){
	.facebook{
		max-width: 3rem;
		position: relative;
		top: -2rem;
	}
}

.nota{
	max-width: 3.5rem;
	transition: ease-out .5s;
}

.nota:hover{
	cursor: pointer;
	max-width: 4.5rem;
}

@media(max-width: 768px){
	.nota{
		max-width: 2.5rem;
		position: relative;
		top: -2rem;
	}
}


.footer {
	/*border: 10px solid red;*/
	padding: 1em 0;
	text-align: center;
	color: white;
  	
  	bottom: 0;
  	width: 100%;

}

@media(min-width: 768px){

	.footer{
		position: absolute;
  		bottom: 0;
  		width: 100%;
  		height: 40px;
  		color: white;
  		padding: end;
	}
}

.footer h3{
	position: relative;
	text-align: center;
	font-size: 1rem;
	bottom: 0;
}

.alertas{
	background: #800000b5;
	box-shadow: 0 0 20px #ff0000;
	position: relative;
	height: 28px;
	bottom: -3rem;
	max-width: 160%;
	border-radius: 1rem;
	font-size: 95%;
	text-align: center;
	margin: -5rem;
}


@media(max-width: 768px){
	.alertas {
		background: #80000078;
		/*box-shadow: 0 0 15px #ff0000;*/
		color: white;
		position: relative;
		max-width: 95%;
		height: 10%;
		margin-left: 3%;
		text-align: center;
		top: -37%;

	}
}



/*.warnings{
	width: 200px;
	text-align: center;
	margin: auto;
	color: #B06AB3;
	padding-top: 20px;
}*/