/*-------BOTONES------------------------------------*/
.botones{
	position: relative;
	display: flex;
	text-align: center;
	justify-content: right;
	margin: 1px 3em 0 3rem;
	top: 2rem;
}

.boton1{
	display: none;
	font-family: 'Ysabeau SC', sans-serif;
	font-weight: 590;
	font-size: 20px;
	color: #ffffff;
	background-color: #000;
	border-radius: 1rem;
	border-color: #0fa0f5; 
	width: 7rem;
	height: 3rem;
	margin-left: 10rem;
	cursor: pointer;

}

.boton2{
	font-family: 'Ysabeau SC', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
	margin-right: 3rem;
	padding: 8px;
	width: 7rem;
	height: 3.3rem;
	background-color: #000;
	border-radius: 1rem;
	border:2px solid #3f51b5;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease;
}

.boton2:hover{
	box-shadow: 11px 10px 12px 2px rgba(50,48,161,0.75);
}


.box{
	display: none;
}
/*------TABLA---ESCRITORIO------------------------------------*/

.tabla{
	font-family: 'Ysabeau SC', sans-serif;
	margin-top: 4rem;
	margin-bottom: 3rem;

}

/*BOTON VER MÁS*/
.tabla tbody tr td .btn{
	width: 7rem;
	text-decoration: none;
	line-height: 35px;
	display: inline-block;
	background-color: #4567bd;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2rem 1rem;
	transition: all .5s ease;
	

}

.tabla tbody tr td .btn:hover{
	box-shadow: 16px 18px 14px 0px rgba(75,90,168,0.75);
	border: 1px solid #fff;

}

table{
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table > thead > tr > th{
	text-align: center;
	padding: 15px;
	background-color: #4567bd;
	color: #f8f8fa;	

}

table > thead > tr > th > input{
	padding: 15px;
	background-color: green;
	color: #f8f8fa;	

}

table > tbody > tr > td{
	padding: 5px;
	border-bottom: 1px solid grey;
	
	text-align: center;
}

table > tbody> tr:nth-child(even) > td{
	background-color: rgb(165, 160, 160);
}

.active > td {
	color: #05689b !important;
	
}

.tabla tbody tr td div a{
	
	text-decoration: none;
	text-transform: uppercase;
	
}



/*Botones pequeños*/

.tabla tbody tr td .opciones_pequeñas{
	/*background: teal;*/
	display: grid;
	grid: repeat(2, 40px) / auto-flow 40px;
	justify-content: center;
	align-items: center;
	gap: 3px;

}
.icono{
	width: 100%;
	height: 2rem;
	border-radius: 7px;
	transition: all .5s ease;
}
.icono:hover{
	box-shadow: 10px 10px 13px 0px rgba(6,0,242,0.75);

}
.boton-li{
	background: #e9d100d6;
	border-color: #e9d100d6;
	
}

.boton-subir{
	background: #1fed46;
	border-color: #1fed46;

}
.boton-resubir{
	background: #ffaa00;
	border-color: #ffaa00;

}
.boton-book{
	background: #00ffec;
	border-color: #00ffec;
	visibility: hidden;
}
.boton-trash{
	background: red;
	border-color: red;

}
.boton-revision{
	background: #4482ff;
	border-color: #4482ff;

}

/*--------PARTE DE LOS INPUTS----------*/

table > thead > tr > th > input{
	background: #fff;
	color: #000;
	width: 7rem;
	border-radius: 2rem 1rem;
	height: 2rem;
	border-color: #0fa0f5;
}

table > thead > tr > th > select{
	border-radius: 2rem 1rem;
	width: 7rem;
	height: 2rem;
	border-color: #0fa0f5;
}

nav .navegador{
	background: red;
}

.progress-bar{
	text-align: center;
	font-size: 0.99rem;
}

.paginacion{
	font-family: 'Ysabeau SC', sans-serif;
	
	/* Arriba | Derecha | Abajo | Izquierda */

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.numeros{
	margin: 1rem;
}
.page-link{
	border-radius: 3px 35px;
	transition: all .5s ease;
}

.page-link:hover{
	background: #4567bd;
	color: #fff;
	box-shadow: 16px 18px 14px 0px rgba(75,90,168,0.75);
}
.titulo{
		text-align: center;
		margin: 2rem 0 0 0;
	}




/*TABLA-----RESPONSIVE CELULAR----------*/

@media (max-width: 1200px){

	.tabla{
		width: 21rem;
		
	}
	.box{
	display: none;
	justify-content: end;
	align-items: center;
	width: 100%;
	margin-left: -2rem;
	}

	#search-form {
		height: 36px;
		border: 1px solid #3f51b5;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		background-color: #fff;
		overflow: hidden;
	}

	#search-text {
		font-size: 14px;
		color: #000;
		border-width: 0;
		background: transparent;
		outline: none;
		padding: 0 0 0 16px;
	}
	
	#search-box input[type="text"] {
		width: 90%;
		padding: 8px 0 12px 1em;
		color: #333;

		outline: none;
	}
	#search-button {
			height: 34px;
			width: 80px;
			font-size: 14px;
			color: #656;
			text-align: center;
			line-height: 4px;
		border-width: 0;
		background-color: #3f51b5;
		border: 3px solid #fff;
		border-radius: 15px 15px 15px 15px;
		cursor: pointer;
}

#lupa{
	width: 36px !important
}



	table > thead{
		display: none;
	}

	table > tbody > tr > td{
		display: block;
		width: 100%;
	}

	.tabla tbody tr td{
	border: 1px solid #000;
	}

	.tabla tbody tr td{
		text-align: right;
		padding-left: 50%;
		position: relative;
	}

	.tabla td:before{
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 12px;
		font-weight: 600;
		font-size: 14px;
		text-align: left;
	}

	table > tbody > .tbrow {
		border: 15px solid transparent;
	}
	
	.botones{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 1rem 2em 5rem 2rem;
	top: 2rem;
	background: transparent;
}

	.boton2{
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 0;
	}

	.boton1{
	display: block;
	height: 53px;
	margin: 0;

	}

	.tabla tbody tr td .btn{
	max-width: 6rem;
	text-decoration: none;
	line-height: 20px;
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2rem;
	}
	

}
