/*-------BOTONES------------------------------------*/
.botones{
	height: 2rem;/*rem y px*/

	text-align: right;
	margin: 1px 3em 0 auto;
}


/*.boton1{
	font-family: 'Ysabeau SC', sans-serif;
	font-weight: 590;
	font-size: 20px;
	color: #ffffff;
	background-color: #000;
	border-radius: 1rem;
	border-color: #0fa0f5; 
	width: 7rem;
	height: 3rem;
	margin-left: 10rem;
	cursor: pointer;

}*/

.boton2{
	font-family: 'Ysabeau SC', sans-serif;
	font-weight: 590;
	font-size: 20px;
	color: #ffffff;
	margin-right: 10rem;
	width: 7rem;
	height: 3rem;
	background-color: #000;
	border-radius: 1rem;
	border-color: #0fa0f5;
	margin: 23px;
}

/*------TABLA---ESCRITORIO------------------------------------*/

.tabla{
	font-family: 'Ysabeau SC', sans-serif;
	margin-top: 4rem;
	margin-bottom: 3rem;

}


.tabla tbody tr td .btn{
	width: 7rem;
	text-decoration: none;
	line-height: 35px;
	display: inline-block;
	background-color: #4567bd;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2rem 1rem;
	transition: all .5s ease;
	/*border: 2px solid teal;*/

}

.tabla tbody tr td .btn:hover{
	box-shadow: 16px 18px 14px 0px rgba(75,90,168,0.75);

}

table{
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table > thead > tr > th{
	text-align: center;
	padding: 15px;
	background-color: #4567bd;
	color: #f8f8fa;	

}

table > thead > tr > th > input{
	padding: 15px;
	background-color: green;
	color: #f8f8fa;	

}

table > tbody > tr > td{
	padding: 15px;
	border-bottom: 1px solid grey;
	
	text-align: center;
}

table > tbody> tr:nth-child(even) > td{
	background-color: rgb(165, 160, 160);
}

.active > td {
	color: #05689b !important;
	
}

.tabla tbody tr td div a{
	
	text-decoration: none;
	text-transform: uppercase;
	
}



/*Botones pequeños*/

.tabla tbody tr td .opciones_pequeñas{
	/*background: teal;*/
	display: grid;
	grid: repeat(2, 40px) / auto-flow 40px;
	justify-content: center;
	align-items: center;
	gap: 3px;

}
.icono{
	width: 100%;
	height: 2rem;
	border-radius: 7px;
	transition: all .5s ease;
}
.icono:hover{
	box-shadow: 10px 10px 13px 0px rgba(6,0,242,0.75);

}
.boton-li{
	background: #f3de25;
	border-color: #f3de25;
}

.boton-subir{
	background: #1fed46;
	border-color: #1fed46;

}
.boton-resubir{
	background: #ffaa00;
	border-color: #ffaa00;

}
.boton-book{
	background: #00ffec;
	border-color: #00ffec;

}
.boton-trash{
	background: red;
	border-color: red;

}
.boton-revision{
	background: #4482ff;
	border-color: #4482ff;

}

/*--------PARTE DE LOS INPUTS----------*/

table > thead > tr > th > input{
	background: #fff;
	color: #000;
	width: 7rem;
	border-radius: 2rem 1rem;
	height: 2rem;
	border-color: #0fa0f5;
}

table > thead > tr > th > select{
	border-radius: 2rem 1rem;
	width: 7rem;
	height: 2rem;
	border-color: #0fa0f5;
}

nav .navegador{
	background: red;
}

.progress-bar{
	
	font-size: 0.80rem;
}

.paginacion{
	font-family: 'Ysabeau SC', sans-serif;
	
	/* Arriba | Derecha | Abajo | Izquierda */

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.numeros{
	margin-left: 1rem;
}


/*TABLA-----RESPONSIVE CELULAR----------*/

@media (max-width: 1200px){

	.tabla{
		width: 21rem;
	}

	table > thead{
		display: none;
	}

	table > tbody > tr > td{
		display: block;
		width: 100%;
	}

	.tabla tbody tr td{
	border: 1px solid #000;
	}

	.tabla tbody tr td{
		text-align: right;
		padding-left: 50%;
		position: relative;
	}

	.tabla td:before{
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 12px;
		font-weight: 600;
		font-size: 14px;
		text-align: left;
	}

	table > tbody > .tbrow {
		border: 15px solid transparent;
	}
	
	.boton1{
		
		margin: 1rem;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.boton2{
	
	margin: 1rem;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.tabla tbody tr td .btn{
	max-width: 6rem;
	text-decoration: none;
	line-height: 20px;
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2rem;
	}

}
